body {
    background-image: url("background.png");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    border: 0px;
    margin: 0px;
    padding: 0px;
}
a {
    text-decoration: none;
    opacity: 100%;
}

/*header*/
#header {
    height: 50px;
    width: auto;
    background-color:rgb(255, 255, 255);
    opacity: 80%;
    font-family: 'Montserrat', sans-serif;
    font-size: small;
    font-weight: bold;
}
#logo {
    height: 35px;
    width: 25px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 0px;
    float:left;
    display: inline;
}
#home {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 0px;
    margin-right: 10px;
    float:left;
    display:inline;
    font-size: 22px;
    color: black;
    font-stretch: extra-expanded;
    line-height: 16px;
}
#neon {
    margin: 10px;
    float:center;
    display:inline;
    margin: 0px;
    padding: 0px;
    text-shadow: -1px 0px 0 #25F4EE, 1px 0px 0 #FE2C55;
}
#question {
    height: 20px;
    width: 20px;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 15px;
    margin-right: 7px;
    padding: 0px;
    float: right;
    display:inline;
    position: relative;
    filter: grayscale(100%); 
}
#help {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 0px;
    margin-right: 10px;
    float:right;
    display:inline;
    position: relative;
    line-height: 11px;
    word-spacing: 1px;
    font-size: 14px;
    color: rgb(105, 105, 105);
}
/*stuff inbetween*/
#login-text {
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
    font-stretch: extra-condensed;
    text-align: center;
    font-size: 32px;
}
#purpose-text {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-size: 14px;
    color: rgb(202, 202, 202);
}
#policy-text {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    margin-bottom: 75px;
    font-size: 12px;
    color: white;
}
#service {
    color: #000000;

}
#policy {
    color: #000000;
}
#missing-text {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-size: 14px;
    padding: 10px;
    color: rgb(0, 0, 0);
}
#signing-up {
    color:#FE2C55;
}
/*footer*/
#w-footer {
    position: fixed;
    height: 64px;
    width: 100%;
    background-color:rgb(255, 255, 255);
    opacity: 80%;
    bottom: 84px;
}
#b-footer {
    position: fixed;
    height: 84px;
    width: 100%;
    background-color:rgb(0, 0, 0);
    opacity: 100%;
    bottom: 0px;
}
#box {
    position: relative;
    display: inline-block;
    height: 20px;
    width: 30%;
    background-color:rgb(0, 0, 0);
    opacity: 100%;
    margin-left: 130px;
    margin-top: 30px;
}
/*CD: 3schools*/
.goog-logo-link,.goog-te-gadget span{
    display:none !important;
}
.goog-te-gadget{
    color:transparent!important;
    font-size :0;
}
/*CD: 3schools*/
#trademark {
    font-family: 'Montserrat', sans-serif;
    font-size: small;
    font-weight: bold;
    margin-top: 40px;
    margin-bottom: 10px;
    margin-left: 0px;
    margin-right: 130px;
    display: inline;
    float: right;
    position: relative;
    line-height: 11px;
    word-spacing: 1px;
    font-size: 14px;
    color: rgb(105, 105, 105);
}

/**/
:root {
    --primary-color: #FFDE00;
    --primary-light-color: #FFE769;
    --secondary-color: #FFE4BA;
    --secondary-light-color: #FFF6E8;
    --post-color: #62EEA8;
    --delete-color: #FF9F9F;
    --light-color: #FFFEFC;
    --grey-color: #747E79;
    --dark-color: #000000;


    --primary-font: 'Cabin', sans-serif;
    --seconday-font: 'Calistoga', sans-serif;
   
    --border-width: 3px;
    --element-border-radius: 5px;
   
    --button-height: 5px;
   
    --small-button-height: 2px;
   
    --element-padding: 0.8em;
   
    --maximum-width: 320px;
}


html, body {
    margin: 0;
    padding: 0;
    font-size: 16px;
}


body {
    color: var(--dark-color);
    background-color: var(--secondary-light-color);
    font-family: var(--primary-font);
}


/* === Typography === */


h1, h2 {
    margin: 0;
}


h2 {
    font-weight: 500;
}


.app-title {
    font-family: var(--seconday-font);
    font-size: 2.5em;
    text-align: center;
}


/* === Sections === */


section {
    margin: 3em 0;
}


.auth-fields-and-buttons {
    display: flex;
    flex-direction: column;
    gap: 1em;
}


* /*=== User Section === */


.user-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.8em;
}


.user-section img {
    width: 3.75em;
    height: 3.75em;
    border-radius: 100%;
    border: var(--border-width) solid var(--dark-color);
}


.user-section h2 {
    font-size: 1.2em;
}




/* === Nav === */


nav {
    margin: 0.6em 0;
    width: 100%;
    display: flex;
    justify-content: flex-end;
}


.user-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.8em;
}


.user-section img {
    width: 3.75em;
    height: 3.75em;
    border-radius: 100%;
    border: var(--border-width) solid var(--dark-color);
}


.user-section h2 {
    font-size: 1.2em;
}
/* === Structure === */


.container {
    max-width: var(--maximum-width);
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    width: 100%;
}


#logged-out-view .container {
    gap: 2em;
}


/* === Common for elements === */


input, button {
    font-family: inherit;
    padding: var(--element-padding);
    border-radius: var(--element-border-radius);
    width: 100%;
    box-sizing: border-box;
    font-size: 1.1em;
    text-align: center;
    border: var(--border-width) solid var(--dark-color);
}


input:focus, button:focus {
    outline: none;
}
/* this is for the user profile */
.app-container {
    display: flex;
    flex-direction: column;
    gap: 3em;
}


/* === Input fields === */


input {
    font-weight: 300;
}


input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: var(--grey-color);
    opacity: 1; /* Firefox */
}


input:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: var(--grey-color);
}


input::-ms-input-placeholder { /* Microsoft Edge */
    color: var(--grey-color);
}


/* === Buttons === */


button {
    font-weight: 600;
    width: 100%;
    border:none;
}


button:hover {
    cursor: pointer;
}


.primary-btn {
    background-color: var(--primary-color);
    box-shadow: 0px var(--button-height) 0px 0px var(--dark-color);
    position: relative;
}


.primary-btn:hover {
    top: var(--button-height);
    box-shadow: none;
}


.secondary-btn {
    padding: 0.4em;
    background-color: transparent;
}


.secondary-btn:hover {
    color: var(--light-color);
    background-color: var(--dark-color);
}


.provider-btn {
    color: var(--dark-color);
    background-color: var(--light-color);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5em;
    border: 0;
    box-shadow: 3px 3px 3px 1px rgba(0, 0, 0, .25);
}


.provider-btn:hover {
    transition: all 0.2s ease;
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, .25);
}


.google-btn-logo {
    width: 1.375em;
}


/*
classes to make the sign out buttons work
*/


.icon-img-btn {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    width: 1.875em;
}


.icon-img-btn:hover {
    filter: invert(0.5);
}
/* === IDs === */


#logged-out-view {
    display: none;
}


#logged-in-view {
    display: none;
}


/*  credit:coursera */
