:root {
    --primary-text-color: #000000;
    --secondary-text-color: #FE2C55;
    --tertiary-text-color: #25F4EE;
    --primary-ui-color: #ffffff;
    --secondary-ui-color: #000000;
    --tertiary-ui-color: #696969;
    --border-color: #cfcfcf;

    --primary-font: 'Montserrat', sans-serif;
    --seconday-font: 'Montserrat', sans-serif;
    
    --border-width: 2px;
    --element-border-radius: 10px;
    
    --button-height: 5px;
    
    --small-button-height: 2px;
    
    --element-padding: 0.8em;
    
    --maximum-width: 500px;
}

body {
    background-image: url("background.png");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    border: 0px;
    margin: 0px;
    padding: 0px;
}
a {
    text-decoration: none;
    opacity: 100%;
}
/*header*/
#header {
    height: 50px;
    width: auto;
    background-color:var(--primary-ui-color);
    opacity: 80%;
    font-family: 'Montserrat', sans-serif;
    font-size: small;
    font-weight: bold;
}
#logo {
    height: 35px;
    width: 25px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 0px;
    float:left;
    display: inline;
}
#home {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 0px;
    margin-right: 10px;
    float:left;
    display:inline;
    font-size: 22px;
    color: black;
    font-stretch: extra-expanded;
    line-height: 16px;
}
#neon {
    margin: 10px;
    float:center;
    display:inline;
    margin: 0px;
    padding: 0px;
    text-shadow: -1px 0px 0 var(--tertiary-text-color), 1px 0px 0 var(--secondary-text-color);
}
#question {
    height: 20px;
    width: 20px;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 15px;
    margin-right: 7px;
    padding: 0px;
    float: right;
    display:inline;
    position: relative;
    filter: grayscale(100%);
}
#help {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 0px;
    margin-right: 10px;
    float:right;
    display:inline;
    position: relative;
    line-height: 11px;
    word-spacing: 1px;
    font-size: 14px;
    color: var(--tertiary-ui-color);
}

/* === Typography === */

h2 {
    margin: 0;
    font-weight: 500;
}

.app-title {
    font-family: var(--primary-font);
    font-size: 35px;
    text-align: center;
    margin: 0;
}

/* === Sections === */

section {
    margin: 2em 0;
}

.auth-fields-and-buttons {
    display: flex;
    flex-direction: column;
    gap: 0.75em;
}

* /*=== User Section === */

.user-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.8em;
}

.user-section img {
    width: 3.75em;
    height: 3.75em;
    border-radius: 100%;
    border: var(--border-width) solid var(--dark-color);
}

.user-section h2 {
    font-size: 1.2em;
}


/* === Nav === */

nav {
    margin: 0.6em 0;
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.user-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.8em;
}

.user-section img {
    width: 3.75em;
    height: 3.75em;
    border-radius: 100%;
    border: var(--border-width) solid var(--secondary-ui-color);
}

.user-section h2 {
    font-size: 1.2em;
}
/* === Structure === */

.container {
    max-width: var(--maximum-width);
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    width: 100%;
    opacity: 100%;
}

#logged-out-view .container {
    gap: 1em;
}

/* === Common for elements === */

input, button {
    font-family: var(--primary-font);
    padding: var(--element-padding);
    border-radius: var(--element-border-radius);
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
    font-size: 1.1em;
    text-align: center;
    height: 45px;
    border: var(--border-width) solid var(--border-color);
}

input:focus, button:focus {
    outline: none;
}
/* this is for the user profile */
.app-container {
    display: flex;
    flex-direction: column;
    gap: 3em;
}

/* === Input fields === */

input {
    font-weight: 300;
}

input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: var(--tertiary-ui-color);
    font-size: 15px;
    opacity: 1; /* Firefox */
}

input:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: var(--tertiary-ui-color);
}

input::-ms-input-placeholder { /* Microsoft Edge */
    color: var(--tertiary-ui-color);
}

/* === Buttons === */

button {
    font-weight: 600;
    width: 70%;
    border:none;
}

button:hover {
    cursor: pointer;
}

.primary-btn {
    background-color: var(--secondary-text-color);
    box-shadow: 0px var(--button-height) 0px 0px var(--secondary-ui-color);
    color: var(--primary-text-color);
    position: relative;
}

.primary-btn:hover {
    background-color: var(--secondary-ui-color);
    color: var(--primary-ui-color);
    top: var(--button-height);
    box-shadow: none;
}

.secondary-btn {
    padding: 0.4em;
    background-color: transparent;
}

.secondary-btn:hover {
    color: var(--tertiary-ui-color);
}

.provider-btn {
    color: var(--tertiary-ui-color);
    background-color: var(--primary-ui-color);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5em;
    border: 0;
    font-size: 15px;
    box-shadow: 0px 3px 0px 0px var(--tertiary-ui-color);
}

.provider-btn:hover {
    transition: all 0.2s ease;
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, .25);
}

.google-btn-logo {
    width: 1.375em;
}

/* 
classes to make the sign out buttons work 
*/

.icon-img-btn {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    width: 1.875em;
}

.icon-img-btn:hover {
    filter: invert(0.5);
}
/* === IDs === */

#logged-out-view {
    display: none;
}

#logged-in-view {
    display: none;
}

/*  credit:coursera */

/* custom css stuff */
#purpose-text {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-size: 14px;
    color: var(--primary-text-color);
}
#policy-text {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    margin-bottom: 8px;
    font-size: 12px;
    color: var(--primary-text-color);
}
#service {
    color: var(--secondary-text-color);

}
#policy {
    color: var(--secondary-text-color);
}

/*footer*/
#w-footer {
    position: relative;
    height: 64px;
    width: auto;
    background-color:var(--primary-ui-color);
    opacity: 80%;
}
#b-footer {
    position: relative;
    height: 84px;
    width: auto;
    background-color:var(--secondary-ui-color);
    opacity: 100%;
}
#box {
    position: relative;
    display: inline-block;
    height: 20px;
    width: 30%;
    background-color:var(--secondary-ui-color);
    opacity: 100%;
    margin-left: 130px;
    margin-top: 30px;
}
/*CD: 3schools*/
.goog-logo-link,.goog-te-gadget span{
    display:none !important;
}
.goog-te-gadget{
    color:transparent!important;
    font-size :0;
}
/*CD: 3schools*/
#trademark {
    font-family: 'Montserrat', sans-serif;
    font-size: small;
    font-weight: bold;
    margin-top: 40px;
    margin-bottom: 10px;
    margin-left: 0px;
    margin-right: 130px;
    display: inline;
    float: right;
    position: relative;
    line-height: 11px;
    word-spacing: 1px;
    font-size: 14px;
    color: var(--tertiary-ui-color);
}